@media (min-width: 1024px) {
#lt {
    font-family: 'Jura', sans-serif;
    width: 85%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin-top: 15%;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight {
    font-size: 40px;
    height: 120px;
}

#one {
    background-color: gold;
}

#two {
    background-color: silver;
}

#three {
    background-color: #d66a33;
}

#four, #five, #six, #seven, #eight {
    background-color: #faf5f5;
}

.sections {
    border-collapse:separate;
    border-spacing:0 10px;
}

#btn {
    font-size: 30px;
    width: 200px;
    background-color: cornflowerblue;
}

#fs {
    font-size: 20px;
}

#navtitle {
    position: relative;
    width: 300px;
    height: 100px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 40%);
}

#lm {
    position: relative;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 30px;
    border-radius: 25px;
    background: #ff8000;
    width: 400px;
    height: 120px;
    top: 280%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 0px;
}

#btn2 {
    width: 150px;
    height: auto;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: cornflowerblue;
}

#blank {
    height: 50px;
}

#navtitle > #trophy {
    width: 300px;
    height: auto;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btn4 {
    position: relative;
    padding: 0;
    border: none;
    background: none;
    left: 80%;
}


#btn3 {
    position: relative;
    padding: 0;
    border: none;
    background: none;
    left: 80%;
}

#jogger, #dogfight, #tprace, #tfgame, #ccld, #blitz {
    width: 500px;
    height: 300px;
    background-image: url('../img/back.jpg');
    text-align: center;
    font-family: 'Jura', sans-serif;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.boards2 {
    display: grid;
    grid-template-areas:
    "jogger dogfight"
    "tprace tfgame";
    grid-gap: 2.5em;
    line-height: 300px;
    margin-top: 28%;
}


#menu2 {
    position: relative;
    bottom: 80%;
    margin-left: auto;
    margin-right: auto;
}

#lds {
    position: relative;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

}


@media (max-width: 500px) {

main {
    display: grid;
    grid-template-areas:
    "#navtitle #navtitle #navtitle"
    "#lt #lt #lt";
}
    #lt {
        position: relative;
        font-family: 'Jura', sans-serif;
        width: 90%;
        height: auto;
        top: 8%;
        left: 45%;
        transform: translate(-52%, -25%);
        text-align: center;
        overflow: hidden;
    }
    
    #one,
    #two,
    #three,
    #four,
    #five,
    #six,
    #seven,
    #eight
     {
        font-size: 15px;
        height: auto;
    }
    
    #one {
        background-color: gold;
    }
    
    #two {
        background-color: silver;
    }
    
    #three {
        background-color: #d66a33;
    }
    
    #four, #five, #six, #seven, #eight {
        background-color: #faf5f5;
    }
    
    .sections {
        border-collapse:separate;
        border-spacing:0 10px;
    }
    
    #btn {
        font-size: 10px;
        width: 100vw;
        background-color: cornflowerblue;
    }
    
    #fs {
        font-size: 10px;
    }
    
    #lm {
        vertical-align: middle;
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        border-radius: 10px;
        background: #ff8000;
        width: 30%;
        top: 35vh;
        left: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -15%;
    }
    
    #btn2 {
        width: 75vw;
        height: auto;
        font-size: 20px;
        text-align: center;
        border-radius: 10px;
        background-color: cornflowerblue;
    }
    
    #blank {
        height: 30px;
    }

    #navtitle{
        margin-left: auto;
        margin-right: auto;
    }

    #trophy {
        width: 75%;
        padding: 8%;
        transform: translate(16.5%, 0%);
    }
    
    #btn4 {
        position: relative;
        width: 10%;
        left: 75%;
        padding: 0;
        border: none;
        background: none;

    }
    
    #btnas {
        display: grid;
        grid-template-areas: 
        "#btn3 #btn3"
        "#btn4 #btn4"
    }
    #btn3 {
        position: relative;
        width: 10%;
        left: 75%;
        bottom: 15%;
        padding: 0;
        border: none;
        background: none;
    }

    #jogger, #dogfight, #tprace, #tfgame, #ccld, #blitz {
        background-image: url('../img/back.jpg');
        text-align: center;
        font-family: 'Jura', sans-serif;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        width: 116%;
    }
    
    .boards2 {
        display: grid;
        grid-template-areas:
        "jogger" 
        "dogfight"
        "tprace" 
        "tfgame";
        grid-gap: 1.5em;
        margin-top: 10%;
        line-height: 80px;
        left: 50%;
        transform: translate(-7.5%, 0%);
    }

    #lds {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    }
}

#back{
    background-color: tomato;
    border-radius: 5px;
    
}